html {
    background-color : rgb(37, 37, 37);
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    grid-template-areas: ". div1 ."
                         ". main ."
                         ". . . ";
    width: 98vw;
    height: 98vh;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;

}
img {
    padding: 25px;
    width : 64px;
    height: auto;
}

img:hover {
    width: 80px;
    padding: 17px
}

main {
    background-color:rgb(41, 41, 41);
    border-radius: 15px;
    box-shadow: 1px 1px 10px #00000087;
    grid-area: main;
    display: grid;
    grid-template-rows: 1.5fr 1fr .5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "rock paper scissors"
                         "score score score"
                         "result result round"
}


#rock {
    grid-area: rock;
}
#paper {
    grid-area: paper;
}

#scissors {
    grid-area: scissors;
}

#score {
    grid-area: score;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
}

#round {
    grid-area: round;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.863);
}

#result {
    grid-area: result;
    display: flex;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.863);
}

#div1 {
    grid-area: div1;
    font-size: 1.8em;
    color:rgba(255, 255, 255, 0.863);
    box-shadow: 1px 1px 10px #00000087;
    margin-bottom: -50px;
    border-radius: 15px;
    padding: 10px;
}